<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        width: 100%;
        background-color: yellow;
    }
</style>
<body>
    <div style="width: 80% ;height: auto;display: flex;justify-content: center;align-items: center;flex-direction: column;background-color: yellow;">
    <h1>Hello Please Activeate youR account mr {{username}}</h1><br>
    <a href="{{link}}" style="width: 300px;
    height: 50px; background-color: red; border-radius: 20px; text-align: center;display: flex;justify-content: center;align-items: center;text-decoration: none;color: white;font-size: larger;" >Click Here</a>
    </div>
</body>
</html>